/* == Search panel == */
.form {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 8px;
  max-width: 471px;
  margin-bottom: 32px;
}

.search-input {
  width: 272px;
  /* min-width: 0; */
  /* width: 100%; */
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  background-color: #fff;
  border: 2px solid #808080;
  outline: none;

  padding: 8px 16px;
  letter-spacing: 0.04em;
  color: #808080;
}

.search-input:hover {
  border-color: #2e2f42;
}

.search-input:active {
  border-color: #4e75ff;
}

.sub-btn {
  border-radius: 8px;
  border-style: none;
  padding: 8px 16px;
  max-width: 91px;
  height: 40px;

  background-color: #4e75ff;

  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
}

.sub-btn:hover,
.load-btn:hover {
  background-color: #6c8cff;
}

/* == Gallery == */
.gallery {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1128px;
}

.gallery > li {
  flex-basis: calc((100% - 48px) / 3);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.gallery > li img {
  height: 200px;
  width: 360px;
}

.gallery > li:hover {
  transform: scale(1.04);
}

.img-info {
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  width: 360px;
  height: 48px;

  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.736);

  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 25px;
  padding-top: 4px;
  gap: 28px;
}

.img-info > li {
  width: fit-content;
}

.img-info-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}

.img-info-value {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}

.load-btn {
  border-radius: 8px;
  /* padding: 8px 16px; */
  max-width: 125px;
  width: 100%;
  height: 40px;

  background-color: #4e75ff;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  display: none;
  margin: 32px auto;
}

/* .load-btn */
.shown {
  display: block;
}

/* == Loader == */
.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 6rem;
  margin-top: 3.5rem;
  margin-left: auto;
  margin-right: auto;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  border-radius: 50%;
  animation: pulsOut 1.8s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem #6c8cffd2);
}

.loader:before {
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 1rem #6c8cff;
  animation-name: pulsIn;
}

.loader:after {
  width: calc(100% - 2rem);
  padding-bottom: calc(100% - 2rem);
  box-shadow: 0 0 0 0 #6c8cff;
}

@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem #6c8cff;
    opacity: 1;
  }
  50%,
  100% {
    box-shadow: inset 0 0 0 0 #6c8cff;
    opacity: 0;
  }
}

@keyframes pulsOut {
  0%,
  50% {
    box-shadow: 0 0 0 0 #6c8cff;
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 1rem #6c8cff;
    opacity: 1;
  }
}

/* .loader */
.hidden {
  display: none;
}
